:root {
  --cor-primaria: #e4e4e4;
  --cor-botao-navegar-fundo: #008db8;
  --cor-botao-hover: #008db886; 
  --cor-botao-culcular: #02b302; 
  --cor-botao-calcular-hover: #94cc94; 
  --cor-sextinaria: #ffffff; 
  --cor-botao-limpar: #ff0000; 
  --cor-botao-limpar-hover: #f89292; 
  --cor-fonte-primaria: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .3s;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-botao-navegar-fundo);
  scrollbar-width: none;
}

.main {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
  max-width: 1000px;
  padding: 5px;
  justify-content: center;
  background-color: var(--cor-primaria);
  border-radius: 5px;
}

.main > div{
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.input {
  all: unset;
  border: 2px solid black;
  font-family: sans-serif;
  border-radius: 5px;
  padding: 2px;
  background-color:var(--cor-sextinaria);

}

.input::placeholder{
  color: black;
  font-weight: 600;
}

.input:disabled{
  background-color: var(--cor-primaria);
}

.h1 {
  flex-basis: 10%;
  text-align: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  color: var(--cor-fonte-primaria);
}

.button {
  all: unset;
  border-radius: 5%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.35s;
  background-color: var(--cor-botao-navegar-fundo);
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  flex-shrink: 1;
  flex-grow: 1;
  text-align: center;


}

.limpar{
  all: unset;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.35s;
  background-color: var(--cor-botao-limpar);
  padding: 5px;
  text-decoration: none;
}

.limpar:hover {
  color: var(--cor-fonte-primaria);
  background-color: var(--cor-botao-limpar-hover);
}

.button:hover {
  color: var(--cor-fonte-primaria);
  background-color: var(--cor-botao-hover);
}

.button:active {
  transform: scale(0.8);
}

.resultado {
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
  overflow: auto;
  height: 50px;
}

.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.element{
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.navegar{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.calcular {
  all: unset;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
  color: var(--cor-fonte-primaria);
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.35s;
  background-color: var(--cor-botao-culcular);
  color: var(--cor-primaria);
  display: block;
  text-align: center;
}

.calcular:hover {
  color: var(--cor-fonte-primaria);
  background-color: var(--cor-botao-calcular-hover);
}

.voltar {
  all: unset;
  border-radius: 5px;
  text-align: center;
  display: block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.35s;
  background-color: var(--cor-botao-navegar-fundo);
  padding: 5px;
  text-decoration: none;
}

.voltar:hover {
  color: var(--cor-fonte-primaria);
  background-color: var(--cor-botao-hover);
}

.voltar:active {
  transform: scale(0.8);
}

#obs{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.obs{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  background-color: var(--cor-sextinaria);
  border-radius: 3px;
  padding: 2px;
}


